name: verify/js

on:
  - pull_request

env:
  NODE_VERSION: '12.16.3'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: |
          yarn
          yarn coverage
          ./node_modules/.bin/codecov --token="${{ secrets.CODECOV_TOKEN }}"
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - run: |
          yarn
          yarn lint
